<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>unspoken.</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script
      src="https://kit.fontawesome.com/825a35d965.js"
      crossorigin="anonymous"
    ></script>
    <script src="./js/tailwind.config.js"></script>
    <script src="./js/current-theme.js"></script>
    <script>
      const HOSTNAME_URL = "<%= HOSTNAME_URL %>";
    </script>
  </head>
  <body
    class="bg-slate-100 dark:bg-slate-900 relative flex min-h-[100dvh] flex-col justify-center overflow-hidden py-6 sm:py-12 w-full items-center gap-2"
  >
    <div>
      <label
        for="roomID"
        class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100"
        >RoomID</label
      >
      <div class="mt-2">
        <input
          type="roomID"
          name="roomID"
          id="roomID"
          class="block w-full rounded-md border-0 px-2.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Enter Room ID"
        />
      </div>
    </div>
    <button
      onclick="createRoom()"
      type="button"
      class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Create unspoken. Room
    </button>
    <div class="flex justify-center items-center h-full">
      <button
        id="theme-toggle"
        type="button"
        class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-base p-2.5"
      >
        <div
          id="theme-toggle-dark-icon"
          class="hidden w-5 h-5 flex justify-center items-center"
        >
          <i class="bi bi-moon-fill"></i>
        </div>
        <div
          id="theme-toggle-light-icon"
          class="hidden w-5 h-5 flex justify-center items-center"
        >
          <i class="bi bi-sun-fill"></i>
        </div>
      </button>
    </div>
    <script src="./js/theme-provider.js"></script>
    <script>
      async function createRoom() {
        let roomID = document.getElementById("roomID").value;
        if (!roomID) {
          alert("Please insert Room ID");
          return;
        }
        let response = await fetch(HOSTNAME_URL + "/createRoom/" + roomID, {
          method: "POST",
        });
        let data = await response.json();
        console.log(data);
      }
    </script>
  </body>
</html>
